.image {
    max-width: 480px;
    height: auto;
    width: 100%;
}
.ingredientDetailsModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailInfo {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.detailInfoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}