.burgerIngredientItem {
    max-width: 272px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.image {
    max-height: 120px;
    height: 100%;
}
.price {
    display: flex;
    align-items: center;
    margin: 9px 0;
}
.counter {
    position: absolute;
    top: 0;
    right: 0;
}