.burgerIngredients {
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
}
.title {
    text-align: left;
}
.wrapper {
    max-width: 600px;
    height: 70vh;
    overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
    width: 8px;
}
.wrapper::-webkit-scrollbar-track {
    background-color:  #2F2F37;
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: #8585AD;

}
.list {
    display: flex;
    flex-wrap: wrap;
}