.headerButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none
}
.headerButton:hover {
    cursor: pointer;
}
.active {
    color: #F2F2F3
}

.notActive {
    color: #8585AD
}